# Pull in clustering data and make a readable dataframe from it

In [2]:
import pandas as pd
import numpy as np

In [3]:
mod = pd.read_csv("clustering_result.txt", sep=" ", header=None)
mod.rename(columns={0: "id", 1: "0.0"}, inplace=True)
mod

                       id  0.0
0      720575940600433181    1
1      720575940600646173    1
2      720575940602120928    2
3      720575940602132509    1
4      720575940602309600    1
...                   ...  ...
21937  720575940661321857    1
21938  720575940661325697   12
21939  720575940661329281    6
21940  720575940661335681    3
21941  720575940661338497    5

[21942 rows x 2 columns]

In [8]:
# Clusters the modularity found
mod['0.0'].value_counts().sort_index()

0.0
1     4686
2     3823
3     3691
4      513
5     2562
6      551
7     1696
8     4113
9        7
10       2
11      18
12     186
13       2
14      14
15       2
16       7
17       5
18       2
19       2
20       3
21       4
22       2
23       2
24       2
25       3
26       2
27       2
28       2
29       2
30       2
31       2
32       2
33       2
34       2
35       2
36       3
37       2
38       2
39       2
40       2
41       2
42       2
43       2
44       2
45       3
46       2
Name: count, dtype: int64